# Auto detect text files and perform LF normalization
<html>
<head><title>My App</title>
</head>
<body bgcolor=green>
<h4 align=center> My Sample Profile app</h4>
<h5>Created by Sreedhu</h5>
</body>
</html>
